@page "{id:int}"
@model RazorPagesAriulesanne.Pages.Osavotjad.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Eraisik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Eraisik.EraisikID" />
            <div class="form-group">
                <label asp-for="Eraisik.Eesnimi" class="control-label"></label>
                <input asp-for="Eraisik.Eesnimi" class="form-control" />
                <span asp-validation-for="Eraisik.Eesnimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eraisik.Perekonnanimi" class="control-label"></label>
                <input asp-for="Eraisik.Perekonnanimi" class="form-control" />
                <span asp-validation-for="Eraisik.Perekonnanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eraisik.Isikukood" class="control-label"></label>
                <input asp-for="Eraisik.Isikukood" class="form-control" />
                <span asp-validation-for="Eraisik.Isikukood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eraisik.Maksmisviis" class="control-label"></label>
                <input asp-for="Eraisik.Maksmisviis" class="form-control" />
                <span asp-validation-for="Eraisik.Maksmisviis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eraisik.Lisainfo" class="control-label"></label>
                <input asp-for="Eraisik.Lisainfo" class="form-control" />
                <span asp-validation-for="Eraisik.Lisainfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
